.section-class {
	float: left;
}
.section-class section {
	/*width: 50%;*/
	float: left;
}
#directions li a:hover {
	color: red;
/*    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);*/
    transform: rotate(10deg);
    border: solid;
}
#directions li a {
	color: black;
	text-decoration: none;
    transition: 5s;
}
.sectionone {
	width: 60%; 
	border: solid; 
	border-radius: 25px;
	border-color: red;
	margin: 15px; 
	margin-top: 0px; 
	padding: 15px;"
}
table {
	width: 100%;
}
table#time {
	border-top-style: dotted;
	border-color: #777777;
	border-width: 2px;
}
th {
	border-bottom-style: dotted;
	border-color: #777777;
	font-family: sans-serif;
	width: 200px;
	text-align: center;
	border-width: 2px;
}
td {
	width: 200px;
	color: #777777;
	text-align: center;

}
body {
	font-family: sans-serif;
	width: 800px;
}
h3 {
	font-style: bold;
	color: #666666;
}
.container section {
	position: relative;
}
.image {
	text-align: center;
}
p {
	margin: 0px;
	font-size: 15px;
}
hr {
	margin: 15px 15px 0px 0px;
	border-style: solid;
	color: #777777;
}
#imgone {
	border-radius:25px;

}
h1:hover {
	font-size: 40px;
	color: red;
}
button {
	font-family: sans-serif;
	color: #777777;
	font-weight: bold;
	background-color: #EFAA15;
	border-radius: 25px;
}
#checkboxes label {
  float: left;
}
#checkboxes ul {
  margin: 0;
  list-style: none;
  float: left;
}
.marker1 {
	font-size: 20px;
	color: red;
	font-weight: bold;
}